{% extends "base.html" %}
{% load static%}
{% block content %}
{% include "_carousel.html" %}

<main class="container">
  <div class="row">
    <section class="col-md-9 mb-2" role="main">
      <div class="row position-relative">
        <h1 class="h1">{{ object.title }}</h1>
        <article class="col w-100">
          <div class="mb-3">
            <strong class="fw-light">{{ object.category }}</strong>
            <small>
              <i class="bi bi-person mx-1"></i><a href="" class="fw-bolder link-secondary">Article Author</a>
              <i class="bi bi-calendar mx-1"></i><span>{{ object.updated_at}}</span>
            </small>
          </div>
          {{ object.body }}
        </article>
      </div>
      <h2 class="h2">Comments</h2>
      <form class="row position-relative" id="BlogpostCommentForm">
        <div class="col-12 d-flex justify-content-between align-items-center mb-3">
          <h3 class="h3">New comment</h3>
          <button type="submit" class="btn btn-outline-primary"><i class="bi bi-send"></i>&nbsp;Post</button>
        </div>
        <div class="col-12 d-flex justify-content-start mb-3">
          <img src="https://i.pravatar.cc/350?u=da594f2b" alt="avatar" class="avatar rounded-circle p-2">
          <label for="newCommentText" class="visually-hidden">Comment Text</label>
          <textarea name="message" id="newCommentText" class="form-control" required></textarea>
        </div>
      </form>
      <div class="row position-relative" id="BlogpostCommentsContainer">
        <div class="blogpost-comment col-12 d-flex">
          <img src="https://i.pravatar.cc/350?u=4001b435" alt="avatar" class="avatar rounded-circle p-2">
          <div>
            <strong class="mb-2 h4">John Doe</strong>
            <div>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam beatae dolorem iure molestiae
              molestias quis quisquam reprehenderit! A animi assumenda autem blanditiis ea esse hic magnam officia
              praesentium quam.
            </div>
            <small class="small text-muted"><i class="bi bi-calendar"></i>Jan 31, 2023</small>
          </div>
        </div>
        <div class="blogpost-comment col-12 d-flex">
          <img src="https://i.pravatar.cc/350?u=4001b435" alt="avatar" class="avatar rounded-circle p-2">
          <div>
            <strong class="mb-2 h4">John Doe</strong>
            <div>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam beatae dolorem iure molestiae
              molestias quis quisquam reprehenderit! A animi assumenda autem blanditiis ea esse hic magnam officia
              praesentium quam.
            </div>
            <small class="small text-muted"><i class="bi bi-calendar"></i>Jan 31, 2023</small>
          </div>
        </div>
        <div class="blogpost-comment col-12 d-flex">
          <img src="https://i.pravatar.cc/350?u=4001b435" alt="avatar" class="avatar rounded-circle p-2">
          <div>
            <strong class="mb-2 h4">John Doe</strong>
            <div>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam beatae dolorem iure molestiae
              molestias quis quisquam reprehenderit! A animi assumenda autem blanditiis ea esse hic magnam officia
              praesentium quam.
            </div>
            <small class="small text-muted"><i class="bi bi-calendar"></i>Jan 31, 2023</small>
          </div>
        </div>
        <div class="blogpost-comment col-12 d-flex">
          <img src="https://i.pravatar.cc/350?u=4001b435" alt="avatar" class="avatar rounded-circle p-2">
          <div>
            <strong class="mb-2 h4">John Doe</strong>
            <div>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam beatae dolorem iure molestiae
              molestias quis quisquam reprehenderit! A animi assumenda autem blanditiis ea esse hic magnam officia
              praesentium quam.
            </div>
            <small class="small text-muted"><i class="bi bi-calendar"></i>Jan 31, 2023</small>
          </div>
        </div>
        <div class="blogpost-comment col-12 d-flex">
          <img src="https://i.pravatar.cc/350?u=4001b435" alt="avatar" class="avatar rounded-circle p-2">
          <div>
            <strong class="mb-2 h4">John Doe</strong>
            <div>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aperiam beatae dolorem iure molestiae
              molestias quis quisquam reprehenderit! A animi assumenda autem blanditiis ea esse hic magnam officia
              praesentium quam.
            </div>
            <small class="small text-muted"><i class="bi bi-calendar"></i>Jan 31, 2023</small>
          </div>
        </div>
      </div>
    </section>
    {% include "_footer.html" %}
  </div>
</main>
{% endblock content %}
