<div id="blogPostsCarousel" class="carousel slide bg-dark" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#blogPostsCarousel" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#blogPostsCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#blogPostsCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container h-100 w-100 d-flex justify-content-center">
          <img src="https://loremflickr.com/320/240?random=2" alt="Blog post image" class="h-100">
        </div>
        <div class="container">
          <div class="carousel-caption">
            <p class="h1">adelphiss persuadere!</p>
            <p class="fs-4">Lettuce combines greatly with sichuan-style broccoli.</p>
            <p><a class="btn btn-lg btn-dark" href="blogpost.html">View post</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container h-100 w-100 d-flex justify-content-center">
          <img src="https://loremflickr.com/320/240?random=6" alt="Blog post image" class="h-100">
        </div>
        <div class="container">
          <div class="carousel-caption">
            <p class="h1">eras manducare!</p>
            <p class="fs-4">Popcorn combines greatly with tangy lettuce.</p>
            <p><a class="btn btn-lg btn-dark" href="blogpost.html">View post</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="container h-100 w-100 d-flex justify-content-center">
          <img src="https://loremflickr.com/320/240?random=12" alt="Blog post image" class="h-100">
        </div>
        <div class="container">
          <div class="carousel-caption">
            <p class="h1">axonas peregrinationes!</p>
            <p class="fs-4">Okra combines greatly with shredded ground beef.</p>
            <p><a class="btn btn-lg btn-dark" href="blogpost.html">View post</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#blogPostsCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#blogPostsCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>